MrrtReport.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:annotation>
		<xs:documentation>
			This schema describes an MRRT report template as
			defined by the IHE
			Radiology Technical Framework Supplement Management
			of Radiology
			Report Templates (MRRT).
		</xs:documentation>
	</xs:annotation>

	<xs:element name="html">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" />
				<xs:element name="body" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="uri">
		<xs:restriction base="xs:anyURI" />
	</xs:simpleType>

	<!-- Document metadata ================================================= -->
	<!-- <xs:sequence> <xs:element ref="title" /> <xs:group ref="metaDataElements" 
		minOccurs="0" maxOccurs="unbounded" /> <xs:element ref="base" minOccurs="0" 
		/> <xs:group ref="metaDataElements" minOccurs="0" maxOccurs="unbounded" /> 
		</xs:sequence> <xs:sequence> <xs:element ref="base" /> <xs:group ref="metaDataElements" 
		minOccurs="0" maxOccurs="unbounded" /> <xs:element ref="title" /> <xs:group 
		ref="metaDataElements" minOccurs="0" maxOccurs="unbounded" /> </xs:sequence> -->
	<xs:element name="head">
		<xs:complexType>
			<!-- XERCES: cos-nonambig: link violate "Unique Particle Attribution" -->
			<xs:sequence>
				<xs:group ref="metaDataElements" minOccurs="0" maxOccurs="unbounded" />
				<xs:choice>
					<xs:sequence>
						<xs:element ref="title" />
						<xs:group ref="metaDataElements" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
			<xs:attributeGroup ref="globalAttributeGroup" />
		</xs:complexType>
	</xs:element>

	<xs:element name="title">
		<xs:complexType mixed="true">
			<xs:attributeGroup ref="globalAttributeGroup" />
		</xs:complexType>
	</xs:element>

	<xs:element name="base">
		<xs:complexType>
			<xs:attributeGroup ref="globalAttributeGroup" />
			<!-- must have either an href attribute, a target attribute, or both. -->
			<xs:attribute name="href" type="uri" />
			<xs:attribute name="target" type="browsingContextNameOrKeyword" />
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="browsingContextNameOrKeyword">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="_blank" />
					<xs:enumeration value="_self" />
					<xs:enumeration value="_parent" />
					<xs:enumeration value="_top" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType>
				<xs:restriction base="browsingContextName" />
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>

	<xs:simpleType name="browsingContextName">
		<xs:restriction base="xs:token">
			<xs:pattern value="[^_].*" />
		</xs:restriction>
	</xs:simpleType>

	<!-- TODO head shall only contain one script element -->
	<xs:group name="metaDataElements">
		<xs:choice>
			<xs:element ref="link" />
			<xs:element ref="style" />
			<xs:element ref="meta" />
			<xs:element ref="script" />
		</xs:choice>
	</xs:group>

	<xs:element name="link">
		<xs:complexType>
			<xs:attributeGroup ref="globalAttributeGroup" />
			<xs:attribute name="href" type="uri" use="required" />
			<xs:attribute name="hreflang" type="languageTag" />
			<xs:attribute name="rel" type="tokens" use="required" />
			<xs:attribute name="media" type="mediaQueryList"
				default="all" />
			<xs:attribute name="type" type="mimeType" />
			<xs:attribute name="sizes" type="sizes" />
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="languageTag">
		<xs:restriction base="xs:language" />
	</xs:simpleType>

	<xs:simpleType name="tokens">
		<xs:list itemType="token" />
	</xs:simpleType>

	<xs:simpleType name="token">
		<xs:restriction base="xs:token">
			<xs:pattern value="\S+" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="mediaQueryList">
		<xs:restriction base="nonEmptyToken" />
	</xs:simpleType>

	<xs:simpleType name="nonEmptyToken">
		<xs:restriction base="xs:token">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="mimeType">
		<!-- A MIME type may have a parameter. Example: "application/dita+xml; 
			format=dita" -->
		<xs:restriction base="nonEmptyToken" />
	</xs:simpleType>

	<xs:simpleType name="sizes">
		<xs:restriction base="tokens" />
	</xs:simpleType>

	<xs:element name="meta">
		<xs:complexType>
			<xs:attributeGroup ref="globalAttributeGroup" />
			<!-- One of: charset, name+content, http-equiv+content. If http-equiv="content-type", 
				then content starts with "text/html;". -->
			<xs:attribute name="http-equiv" type="httpEquiv" />
			<xs:attribute name="name" type="nonEmptyToken" />
			<xs:attribute name="content" type="string" />
			<xs:attribute name="charset" type="charset" />
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="httpEquiv">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="content-language" />
			<xs:enumeration value="content-type" />
			<xs:enumeration value="default-style" />
			<xs:enumeration value="refresh" />
			<xs:enumeration value="set-cookie" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="string">
		<xs:restriction base="xs:string" />
	</xs:simpleType>

	<xs:simpleType name="charset">
		<xs:restriction base="token" />
	</xs:simpleType>

	<xs:element name="style">
		<xs:complexType mixed="true">
			<xs:attributeGroup ref="globalAttributeGroup" />
			<xs:attribute name="type" type="mimeType" default="text/css" />
			<xs:attribute name="media" type="mediaQueryList"
				default="all" />
			<xs:attribute name="scoped" type="scoped" />
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="scoped">
		<xs:restriction base="xs:token">
			<xs:enumeration value="scoped" />
			<xs:enumeration value="" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Scripting ========================================================= -->

	<!-- mixed=true necessary -->
	<xs:element name="script">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element name="template_attributes" minOccurs="1"
					maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:group ref="otherMetaDataElements" minOccurs="0"
								maxOccurs="unbounded" />
							<xs:element ref="coding_schemes" minOccurs="0"
								maxOccurs="1" />
							<xs:element ref="term" minOccurs="0" maxOccurs="unbounded" />
							<xs:element ref="coded_content" minOccurs="1"
								maxOccurs="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="text/xml" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:group name="otherMetaDataElements">
		<xs:choice>
			<xs:element ref="top-level-flag" />
			<xs:element ref="status" />
			<xs:element ref="user-list" />
			<xs:element ref="provider-group-list" />
		</xs:choice>
	</xs:group>

	<xs:element name="top-level-flag" type="boolean" />

	<xs:element name="status">
		<xs:simpleType>
			<xs:restriction base="xs:NMTOKEN">
				<xs:enumeration value="DRAFT" />
				<xs:enumeration value="ACTIVE" />
				<xs:enumeration value="RETIRED" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="user-list" type="string" />

	<xs:element name="provider-group-list" type="string" />

	<xs:element name="coding_schemes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coding_scheme" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="coding_scheme">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required" />
			<xs:attribute name="designator" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>

	<!-- TODO think about: 1. limiting coding scheme names to list of well-known 
		coding scheme designators, see http://dicom.nema.org/medical/dicom/current/output/html/part16.html#chapter_8 
		2. restricting designator with OID regex -->

	<xs:element name="term">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code" minOccurs="1" maxOccurs="1" />
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>

	<xs:element name="code">
		<xs:complexType>
			<xs:attribute name="meaning" type="xs:string" use="required" />
			<xs:attribute name="scheme" type="xs:string" use="required" />
			<xs:attribute name="value" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="coded_content">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coding_schemes" minOccurs="0" maxOccurs="1" />
				<xs:element ref="entry" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="entry">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="term" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="ORIGTXT" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="defer">
		<xs:restriction base="xs:token">
			<xs:enumeration value="defer" />
			<xs:enumeration value="" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="async">
		<xs:restriction base="xs:token">
			<xs:enumeration value="async" />
			<xs:enumeration value="" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Text-level semantics ============================================== -->

	<xs:simpleType name="id">
		<xs:restriction base="xs:token">
			<xs:pattern value="\S+" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="dir">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="ltr" />
			<xs:enumeration value="rtl" />
			<xs:enumeration value="auto" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Global Attributes ================================================= -->

	<xs:attributeGroup name="globalAttributeGroup">
		<xs:attributeGroup ref="coreAttributeGroup" />
	</xs:attributeGroup>

	<xs:attributeGroup name="coreAttributeGroupNodir">
		<xs:attribute name="class" type="tokens" />
		<xs:attribute name="contenteditable" type="implicitBoolean" />
		<xs:attribute name="contextmenu" type="idref" />
		<xs:attribute name="draggable" type="boolean" />
		<xs:attribute name="dropzone" type="dropzone" />
		<xs:attribute name="hidden" type="hidden" />
		<xs:attribute name="id" type="id" />
		<xs:attribute name="lang" type="languageTag" />
		<xs:attribute name="spellcheck" type="implicitBoolean" />
		<xs:attribute name="style" type="string" />
		<xs:attribute name="title" type="string" />
	</xs:attributeGroup>

	<xs:simpleType name="accesskey">
		<xs:list>
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:pattern value="\S" />
				</xs:restriction>
			</xs:simpleType>
		</xs:list>
	</xs:simpleType>

	<xs:simpleType name="dropzone">
		<xs:list>
			<xs:simpleType>
				<xs:union>
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="copy" />
							<xs:enumeration value="move" />
							<xs:enumeration value="link" />
						</xs:restriction>
					</xs:simpleType>

					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:pattern value="string:\S+" />
						</xs:restriction>
					</xs:simpleType>

					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:pattern value="file:\S+" />
						</xs:restriction>
					</xs:simpleType>
				</xs:union>
			</xs:simpleType>
		</xs:list>
	</xs:simpleType>

	<xs:simpleType name="hidden">
		<xs:restriction base="xs:token">
			<xs:enumeration value="hidden" />
			<xs:enumeration value="" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="idref">
		<xs:restriction base="xs:token">
			<xs:pattern value="\S+" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="boolean">
		<xs:restriction base="xs:boolean" />
	</xs:simpleType>

	<xs:simpleType name="implicitBoolean">
		<xs:restriction base="xs:token">
			<xs:enumeration value="true" />
			<xs:enumeration value="false" />
			<xs:enumeration value="" />
		</xs:restriction>
	</xs:simpleType>

	<xs:attributeGroup name="coreAttributeGroup">
		<xs:attributeGroup ref="coreAttributeGroupNodir" />
		<xs:attribute name="dir" type="dir" />
	</xs:attributeGroup>
</xs:schema>